In [147]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [174]:
# Load the loan data into a Pandas DataFrame
df = pd.read_csv("data/loan_data.csv")

# Define the variables for the model
features = ['credit.policy', 'purpose', 'int.rate', 'installment',
            'log.annual.inc', 'dti', 'fico', 'days.with.cr.line', 'revol.bal',
            'revol.util', 'inq.last.6mths', 'delinq.2yrs', 'pub.rec']

target = 'not.fully.paid'
class_purposes = dict([(x[1],x[0]) for x in enumerate(set(df.purpose))])
df.purpose = df.purpose.apply(lambda x: class_purposes.get(x))

In [175]:
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,0,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,0,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [176]:

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size=0.2, random_state=0)

# Fit a logistic regression model to the training data
model = RandomForestClassifier(max_depth=8, random_state=0).fit(X_train, y_train)

In [177]:
# Use the model to make predictions on the test data
y_pred = model.predict(X_test)

# Calculate the accuracy of the model
acc = accuracy_score(y_test, y_pred)
print("The accuracy of the model is:", acc)

The accuracy of the model is: 0.8434237995824635

In [160]:
df.keys()

Index(['credit.policy', 'purpose', 'int.rate', 'installment', 'log.annual.inc',
       'dti', 'fico', 'days.with.cr.line', 'revol.bal', 'revol.util',
       'inq.last.6mths', 'delinq.2yrs', 'pub.rec', 'not.fully.paid'],
      dtype='object')